body {
    background-color: #EAF6F6;
}
hr{
    border-style: dotted none none;
    border-color: gray;
    border-width: 6px;
    height: 0px;
    width: 3%;
}
h1{
    color: #307272;
}
h3{
    color: #66BFBF;
}